@mixin flexRow{
	display: flex;
	flex-direction: row;
}

@mixin flexColumn{
	display: flex;
	flex-direction: column;
}

@mixin bordeDorado{
	border: solid 3px;
	border-radius: 20px;
	border-color: $dorado;
}
