@mixin flexRow{
	display: flex;
	flex-direction: row;
}

@mixin flexColumn{
	display: flex;
	flex-direction: column;
}

@mixin bordeDorado{
	border: solid 5px;
	border-radius: 15px;
	border-color: $dorado;
}