$dorado: #c5a25b;

$doradoTransparente: rgba(197,162,91,0.5) ;

$doradoConBlanco: linear-gradient(to bottom, rgb(255, 255, 255), rgb(197,162,91));

$text:(
	color:#fff,
	tamaño: 20px,
	margin: 5px
	)
