@import url('https://fonts.googleapis.com/css2?family=Kanit&family=Red+Rose:wght@300;400;700&family=Spartan:wght@300&display=swap');
@import "variables";
@import "tools";


*{
	margin:0;
	padding:0;
	box-sizing:border-box;
}

li, a{
	text-decoration: none;
	color: $dorado;
}

.container {
	@include flexColumn;
	align-items: center;
	width: 100%;
	min-height: 100vh;
	max-height: 3000px;
	background-image: linear-gradient(rgba(0,0,0,0.3),transparent), url(../imagenes/wallp.jpg);
	background-size: cover;
	background-position: center;
	position: relative;
	padding: 0 10%;


	@media all and (max-width: 768px){
		min-height: 750px;
	}

	.header{
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: center;
		padding: 0 10%;

		.logo{
			width: 100px;
			cursor: pointer;
		}
		.navList{
			flex: 1;
			list-style: none;
			text-align: right;
			padding-right: 30px;

			@media all and (max-width:768px){
				@include flexColumn;
				align-items: center;
			}

			li{
				display: inline-block;
				margin: 0 20px;

				.section{
					font-family: 'Red Rose', cursive;
					font-weight: 300;
					color: $dorado;
					font-size: 25px;
					position: relative;
					&.sectionActive{
						@extend .section;
						color: #fff ;
					}
					@media all and (max-width: 768px){
						font-size: 20px;
					}
					&::after{
						content: "";
						width: 0;
						height: 3px;
						position: absolute;
						bottom: -5px;
						left: 50%;
						transform: translateX(-50%);
						background: $dorado;
						transition: width 0.3s ;		
					}

				}
			}
		}		
	}
	.portada{
		@include flexRow;
		flex-wrap: wrap;
		color: $dorado;
		position: absolute;
		bottom: 8%;
		justify-content:space-around;

		.titulos{
			@include flexColumn;
			align-items: flex-start;
			justify-content: center;
			width: 80%;
		}

		.tituloInicio{
			width: 100%;
			color: $dorado;
			font-size: 55px;
			font-weight: 400;
			font-family: 'Kanit', sans-serif;

			@media all and (max-width: 768px){
			font-size: 30px;
			}
		}

		.tituloFinal{
			width: 100%;
			font-size: 190px;
			line-height: 160px;
			margin-left: -10px;
			font-weight: 400;
			font-family: 'Kanit', sans-serif;
			margin-bottom: 10px;
			color: transparent;
			-webkit-text-stroke: 1px $dorado ;
			background: url(../imagenes/doradoplateado.jpg);
			-webkit-background-clip: text;
			background-position: 0 0;
			animation: back 15s linear infinite;

			@media all and (max-width: 768px){
				font-size: 105px;
			}

		}

		.textoPortada{
			font-size: 25px;
			font-weight: 400;
			color: white;
			font-family: 'Red Rose', cursive;
			font-weight: 300;
			width: 100%;

			@media all and (max-width: 768px){
				font-size: 18px;
			}

		}

		.imagenCopa{
			display: flex;
			justify-content: center;
			width: auto;

			img{
				display: flex;
				align-items: center;
				justify-content: center;
				position: relative;
				width: 120px;

				@media all and (max-width: 768px){
					width: 100px
					
				}
			}
		}

	}
	.flexContainer{
		@include flexRow;
		align-items: center;
		justify-content: space-around;
		padding: 100px 0 0 0;
		@media all and (max-width: 768px){
			@include flexColumn;
		}

		.descTorneo {
			@include flexColumn;
			align-items: center;
			justify-content: space-evenly;
			height: 500px;
			width: 50%;

			@media all and (max-width: 768px){
				width:100%;
				justify-content: flex-start;
				padding: 30px;
				heigh: 350px;

			}

			.tituloPrincipal{
				width: 100%;
				color: $dorado;
				font-size: 55px;
				font-weight: 700;
				font-family: 'Kanit', sans-serif;

				@media all and (max-width: 768px){
				font-size: 30px;
				}
				}	

			.textoTorneo{
				font-size: map-get($text,tamaño);
				color: map-get($text,color);
				margin: map-get($text,margin);
				font-family: 'Red Rose', cursive;
				font-weight: 300;

				@media all and (max-width: 768px){
					font-size: 20px;
				}

			}	

		}

		.video{
			display: flex;
			align-items: center;
			justify-content: center;
			height: 400px;

			iframe{
				@include bordeDorado;
				transition: 0.3s ease-in-out;
				height: 400px;
				width: 500px;

				@media all and (max-width: 768px){
					height: 350px;
					width: 400px;
				}

				&:hover{
					transform: scale(1.1);
				}
			}
		}
	}	
	.canchaPresentacion{
		margin: 20px 0 60px 0;
		@include flexRow;
		background-image: url(../imagenes/canchaFutbolD.jpg);
		display: flex;
		justify-content:space-between;
		align-items: center;
		height: 600px;
		width: 950px;
		background-repeat: no-repeat;
		background-position: center;
		position: relative;
		background-size: cover;
		

		@media all and (max-width: 768px){
			background-image: url(../imagenes/canchaFutbolDH.jpg);
			height:950px;
			width: 580px;
		}

		.otrosSocios{
			@include flexColumn;
			justify-content: space-between;
			align-items: center;
			height: 100%;
			width: 50%;

		}

		.socio {
			display: flex;
			justify-content: center;
			align-items: center;
			height: 100%;
			width: 300px;

			.empleado{
				@include flexColumn;
				justify-content: space-around;
				position: relative;
				height:135px;
				width: 125px;
				background-image: url(../imagenes/tomas.jpg);
				background-repeat: no-repeat;
				background-position: center;
				background-size: cover;
				text-align:center;
				border-radius: 50%;
				cursor:pointer;	
				position: relative;
				overflow: hidden;
				transition: all 0.3s ease-in-out;

				&.bocha{
				 @extend .empleado;
				 background-image: url(../imagenes/bocha.jpg);
				}

				&.gaston{
					@extend .empleado;
					background-image: url(../imagenes/gaston.jpg);
				}

				&.pedro{
					@extend .empleado;
					background-image: url(../imagenes/pepo.jpg);
				}

				&:hover{
					transition: all 300ms ease-in-out;
					height: 250px;
					width: 220px;
					border-radius: 10px;

				}

				&:hover .textoFoto{
						transition: all 1s ease-in-out;
						opacity:1;
						}

				&:hover .bgHover{
					transition: all 400ms ease-in-out;
					width: 500px;
					height: 500px;
					top: -140px;
					left: -140px;
				}		
				
				.textoFoto{
					@include flexColumn;
					justify-content: center;
					height: 100%;
					z-index: 1;
					opacity:0;

					.icon{
						color: #000;
						font-size: 40px;
						margin-bottom: 15px;
					}
				}
				

				h3, h4, p{
					position: relative;
					font-family: 'Red Rose', cursive;
					color: #000;

				}

				h3{
					font-size: 25px;
					font-weight: 700;
					
				}

				h4{
					font-size: 20px;
					font-weight: 700;
					margin-top: 5px;
					margin-bottom:20px;
										
				}

				p{
					font-size: 14px;
					font-weight: 400;
					margin-top: 10px;
				
				}

				.bgHover{
					width: 200px;
					height: 200px;
					background: linear-gradient(to bottom, rgb(255, 255, 255), rgb(197,162,91));
					position: absolute;
					top: 250px;
					left: -170px;
					border-radius: 50%;
				}

			}

		}

	}
	.barraContainer{
		width: 100%;
		display:flex;
		align-items: center;
		justify-content: center;
		margin: 0 0 40px 0;

		.barraInfo{
			@include flexRow;
			align-items: center;
			margin-top: 40px;
			height: 80px;
			width: 80%;
			color: #000;
			border-bottom: solid 3px;
			border-bottom-color: $dorado;

			h2{
				font-family: 'Kanit', sans-serif;
				font-weight: 700;
				font-size: 30px;
				color: $dorado; 
				width: 160px;
			}
	}		

		.iconsFutbol{
			width: 50%;
			display: flex;
			justify-content: flex-start;


			.goldLogo{
				color: $dorado;
				margin:10px;
			}

			.fa-running{
				font-size: 45px;
			}

			.fa-futbol{
				font-size:15px;
				align-self: flex-end;
				margin-bottom: 15px;
			}

			.fa-globe-americas{
				font-size: 25px;
			}

			.fa-map-marker-alt{
				font-size: 25px;
			}

		}

		.formContacto{
			@include flexColumn;
			width: 100%;
		}


	}

}		

.container .header .navList li a:hover::after{
	width: 50%;
}
.container .header .navList li .sectionActive:hover::after{
	width: 50%;
	background: #fff;
}

@keyframes back {
			100%{
				background-position: 2000px 0;
			}
}



.footer{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
	bottom: 0;
	width: 100%;
	background-color: #e8d8a8;
	height: 100px;
	border-top: solid 5px;
	border-top-color: $dorado;

	.tenzoLogo{
		height: 100%;
		display:flex;
		align-items: center;
		justify-content: center;
		width: 30%;

		img{
			height:70px;
		}
	}

	.footerText{
		display:flex;
		justify-content: center;
		align-items: center;
		width: 40%;

		p{
			width: 80%;
			font-family: 'Red Rose', cursive;
			font-weight: 300;
			font-size: 18px;
			text-align: center;			
		}
	}	

	.socialLogo{
		display: flex;
		position: relative;
		justify-content: center;
		align-items: center;
		width: 30%;
		height:90px;
		
		.blackLogo{
			color: black;
			font-size: 60px;
			margin: 10px;
			cursor: pointer;
			transition: all 0.4s ease-in-out;

			&:hover{
				color: transparent;
				-webkit-text-stroke: 1px $dorado ;
				background: url(../imagenes/doradoplateado.jpg);
				-webkit-background-clip: text;
				background-position: 0 0;
				animation: back 15s linear infinite;
			}
		}
	}
}

